div#list.page.bg1(style="display:none")
    div.headerBox
        button.BPBtn.pageBtn.left(data-id="personal") 
            img(src="./img/back.svg")
        span.title 請選擇題型
    div.rows
        div.intro 請依照您適合的難度選擇
        
        div#listBox
    footer.f1
