div#Q1-1.page.bg2(style="display:none")
    div.row
        div.chatBox.q1-1a
            div.text 我們要去超市買東西，請仔細聆聽下面音檔出現的五種商品，並請跟著唸出來，盡可能記住他們
        div.character
            img(src="./img/deegooq_1.svg")
        div.chatBox.q1-1b
            div.text
                span.notice 注意！請勿用紙筆記錄！
                span 調整手機音量後，點擊音檔聆聽
                //-
                    progress#Q1progress(min=0, max=100, value=0) 
                div#Q1progress.Qprogress
                    div.bar
                button#Q1PlayMp3.playBtn 
    div#Q1isListened.row(style="display:none")
        div.chatBox.q1-1c
            div.text 記住五個商品了嗎？可反覆多聽幾次喔！
        button.BPBtn.pageBtn.secondary(data-id="Q2-1")
            span 我記住了
    footer.f1.corner