div#Q1-3.page.bg2(style="display:none")
    div.row
        div.chatBox.q1-1a
            div.text 請問剛才提到五個要購買的東西是什麼？
        div.character
            img(src="./img/deegooq_1.svg")
    div.row.center.upper
        div#Q1Timer.Qtimer.t1
            span.value 40
    div.row.expansionBox.upper
        div.btnBox

    button#Q1Skip.fBtn.skip.arrow.pageBtn(data-id="end") 跳過