div#Q2-1.page.bg2(style="display:none")
    div.row
        div.chatBox.q1-1a
            div.text 請仔細聽音檔 ▶ 中念的5個數字，並以「順序相反」打出您所聽到的5個數字，例如：聽到87249，打出94278。
        div.character
            img(src="./img/deegooq_2.svg")
        div.chatBox.q1-1b
            div.text
                span.notice 注意！只能聽一次喔！
                span 請播放下方聲音檔
                div#Q2progress.Qprogress
                    div.bar
                button#Q2PlayMp3.playBtn
    footer.f1