div#Q2-2.page.bg2(style="display:none")
    div.row
        div.chatBox.q1-1a
            div.text 請仔細聽音檔 ▶ 中念的5個數字，並以「順序相反」打出您所聽到的5個數字，例如：聽到87249，打出94278。
        div.character
            img(src="./img/deegooq_2.svg")
    div.row
        div.numBtnBox
            - var n = 0;
                while n < 10
                    button.Q2-2_numbers(data-num=n)= n++
        div.mySelection
            - var n = 0;
                while n < 5
                    - n++
                    div.Q2-2_answer
                        span.value ?
        
    button.fBtn.skip.arrow.pageBtn(data-id="Q3-1") 跳過

        
         