div#Q3-1.page.bg2(style="display:none")
    div.row
        div.chatBox.q1-1a
            div.text 請看下面範例說明：請您注意看選單中出現的「第一張圖」30秒，之後會再請您從「第二張圖」中指出不同的地方
        div.character
            img(src="./img/deegooq_3.svg")
    div.row.introBox.expansionBox.fullBox
        div.isSample 這只是範例喔
        div.intro1
        span.step.step1 第一張
            span.high 仔細觀看圖片

    div.row.fill
    div.row.center
        button.BPBtn.pageBtn.secondary(data-id="Q3-2")
            span 繼續看下一步
   
    footer.f1.corner

        
         