div#Q3-2.page.bg2(style="display:none")
    div.row
        div.chatBox.q1-1a
            div.text 請看下面範例說明：請您注意看選單中出現的「第一張圖」30秒，之後會再請您從「第二張圖」中指出不同的地方
        div.character
            img(src="./img/deegooq_3.svg")
    div.row.introBox.expansionBox.fullBox
        div.isSample 這只是範例喔
        div.intro2
        span.step.step2 第二張
            span.high 選出不一樣的地方
        div.txtHigh 看懂題目了嗎？點擊下方「我準備好了」按鈕才會出現第一張要記憶的圖，並開始計時喔！
    div.row.fill
    div.row.center
        button#startQ3beforeTimer.BPBtn.pageBtn.secondary(data-id="Q3-3")
                span 我準備好了
   
    footer.f1.corner

        
         