div#Q3-3.page.bg3(style="display:none")
    div.row.center.timerBox
        img.bubble_q3(src="./img/bubble_q3.svg")
        div#Q3beforeTimer.Qtimer.t1
            span.value 30
        span.notice1 請仔細觀察圖片中有哪些東西
    div.row.dotBox
    div.row.Q3beforeBox.center.expansionBox.fullBox
        img.Q3before(src="./img/Q3before.jpg")
   
    button#startQ3AfterTimer.fBtn.skip.pageBtn(data-id="Q3-4") 我看完了
