div#Q4-1.page.bg2(style="display:none")
    div.row
        div.chatBox.q1-1a
            div.text 	請看下面範例：點選文字呈現的「顏色」，而非文字
        div.character
            img(src="./img/deegooq_4.svg")
    div.row.introBox
        div.intro1
            img(src="./img/Q4-1_intro.png")
    div.row.center
        span.txt 要出題了，請「由左而右」➡ ➡ ➡ 點擊文字的「顏色」，點擊下方「我準備好了」開始作答！
    div.row.center
        button.BPBtn.pageBtn.secondary(data-id="Q4-2")
            span 我準備好了
   
    footer.f1.corner