div#Q4-2.page.bg2(style="display:none")
    div.row
        div.chatBox.q1-1a
            div.text 	請看下面範例：點選文字呈現的「顏色」，而非文字
        div.character
            img(src="./img/deegooq_4.svg")
    div.row.center.questColorBox
        span.questColor(style="color:#C6172B") 綠
        span.questColor(style="color:#1557CC") 紫
        span.questColor(style="color:#51B239") 黃
        span.questColor(style="color:#FF8710") 藍
        span.questColor(style="color:#9225E8") 橙
    div.row.darker
        div.colorBtnBox
            button.colorBtn(data-color="紅") 紅色
            button.colorBtn(data-color="黃") 黃色
            button.colorBtn(data-color="綠") 綠色
            button.colorBtn(data-color="藍") 藍色
            button.colorBtn(data-color="紫") 紫色
            button.colorBtn(data-color="橙") 橙色
        div.notice 請按這邊作答作答！
    
    button.fBtn.skip.arrow.pageBtn(data-id="Q5-1") 跳過