div#Q5-1.page.bg2(style="display:none")
    div.row
        div.chatBox.q5-1a
            div.text 接下來要請您「畫出一個時鐘」、「填上所有數字」，並將時間指示為【一點五十分】
        div.character
            img(src="./img/deegooq_3.svg")
    div.row.fill
    div.row
        div.chatBox.q5-1c
            div.text 點擊下方按鈕開始作答，您有60秒的時間作答喔！
    div.row.center
        button#startQ5Timer.BPBtn.pageBtn.secondary(data-id="Q5-2")
            span 繼續看下一步
   
    footer.f1.corner

        
         