div#Q5-2.page.bg2(style="display:none")
    div.row.center
        div#Q5Timer.Qtimer.t1
            span.value 60
    div.row.center.txtBox
        span.txt1 請在下面空白處畫1:50的時鐘
        div
            ul
                li 畫一個圓形時鐘
                li 填上時鐘所有的數字
                li 畫出「一點五十分」的指針
    div.row.center
        canvas#drawCanvas

    div.row.toolBox
        button#pen(style="display:none") 畫筆
        button#eraser 橡皮擦
        button#clearAll 重畫
        button#drawDone 送出
   
    button#Q5Skip.fBtn.skip.arrow 跳過

        
         