div#Q5ex-2.page.bg2(style="display:none")
    div.row
        div.chatBox.q5ex-1a
            div.text 請您比較左右兩個圖，選擇「相同」或「不一樣」，一共連續3題，每題限時10秒喔！」
        div.character
            img(src="./img/deegooq_2.svg")
    div.row.infoBox
        div.title 第
            span.sn 1
            | 小題
        div#Q5exTimer.Qtimer.t1
            span.value 10
    div.row
        div#q5QuestBox
            div.leftBox
                img.left
            div.rightBox
                img.right
    div.row.center
        button.ansBtn.on(data-ans="Y") 相同
        button.ansBtn(data-ans="N") 不一樣

    button#Q5Skip.fBtn.skip.arrow 跳過

        
         