div#Q6-1.page.bg2(style="display:none")
    div.row
        div.chatBox.q6-1a
            div.text Q6
        div.character
            img(src="./img/deegooq_3.svg")
    div.row.fill
    div.row
        div.chatBox.q6-1c
            div.text 點擊下方按鈕開始作答，您有60秒的時間作答喔！
    div.row.center
        button.BPBtn.pageBtn.secondary(data-id="Q6-2")
            span 繼續看下一步
   
    footer.f1.corner

        
         