div#Q6-1.page.bg2(style="display:none")
    div.row
        div.chatBox.q6-1a
            div.text 請將聽到的
                span.total
                | 個生肖(鼠到豬)及數字(1到9)依照順序排列，同時要
                span.red 「生肖在前、數字在後」！

    div.row.fill.q6-intro
        img(src="./img/q6-intro.svg")

    div.row.center 
        span.notice 要出題了喔，
            br
            | 點擊下方「我準備好了！

    div.row.center
        button.BPBtn.pageBtn.secondary(data-id="Q6-2")
            span 繼續看下一步
   
    footer.f1

        
         