div#Q6-2.page.bg2(style="display:none")
    div.row.center
    div.row.center.txtBox
        span.txt1 Q6-2
        div
            ul
                li 畫一個圓形時鐘
                li 填上時鐘所有的數字
                li 畫出「一點五十分」的指針
    div.row.center
        canvas#drawCanvas
   
    //-button#Q5Skip.fBtn.skip.arrow 跳過

        
         