div#Q6-4.page.bg2(style="display:none")
    div.row
        div.chatBox.q6-1a
            div.text 請將聽到的6個生肖(鼠到豬)及數字(1到9)依照順序排列，同時要
                span.red 「生肖在前、數字在後」！
        div.character
            img(src="./img/deegooq_3.svg")
    div.row
        div.chatBox.q1-1b
            div.text
                span.notice 注意！只能聽一次喔！
                span 請播放下方聲音檔
                div#Q6-4_Progress.Qprogress
                    div.bar
                button#Q6-4_PlayMp3.playBtn

    div.row.center
        span.high 再來一題，這次有6個喔！
    footer.f1