div#Q6-5.page.bg2(style="display:none")
    div.row
        div.chatBox.q6-1a
            div.text 請將聽到的6個生肖(鼠到豬)及數字(1到9)依照順序排列，同時要
                span.red 「生肖在前、數字在後」！
        div.character
            img(src="./img/deegooq_3.svg")
    div.row.center.questBox
        div.mySelection.grid-6
            - var n = 0;
                while n < 6
                    - n++
                    div.Q6_answer
                        span.value ?
        div.numBtnBox
            - var n = 1;
                while n < 10
                    button.Q6_btn.num(data-ans=n)= n++        
            button.Q6_btn.num(data-ans=0) 0 
            //-生肖       
            button.Q6_btn.txt(data-ans='鼠') 鼠        
            button.Q6_btn.txt(data-ans='牛') 牛        
            button.Q6_btn.txt(data-ans='虎') 虎    
            button.Q6_btn.txt(data-ans='兔') 兔       
            button.Q6_btn.txt(data-ans='龍') 龍       
            button.Q6_btn.txt(data-ans='蛇') 蛇        
            button.Q6_btn.txt(data-ans='馬') 馬       
            button.Q6_btn.txt(data-ans='羊') 羊       
            button.Q6_btn.txt(data-ans='猴') 猴        
            button.Q6_btn.txt(data-ans='雞') 雞       

    button.fBtn.skip.arrow.pageBtn(data-id="Q3-1") 跳過

        
         