div#Q7-1.page.bg2(style="display:none")
    div.row
        div.chatBox.q7-1a
            div.text 請參考下面範例，選出「問號」所代表的圖形，共有3題，每題限時20秒
        div.character
            img(src="./img/deegooq_4.svg")

    div.row.fill.q7-intro
        img(src="./img/q7-intro_1.svg")
        img(src="./img/q7-intro_2.svg")

    div.row.center 
        span.notice 了解題目了嗎？點擊下方
            br
            | 「我準備好了」按鈕，即開始出題！

    div.row.center
        button#startQ7Timer.BPBtn.pageBtn.secondary(data-id="Q7-2")
            span 我準備好了
   
    footer.f1.corner

        
         