div#Q7-2.page.bg2(style="display:none")
    div.row
        div.chatBox.q7-1a
            div.text 請參考下面範例，選出「問號」所代表的圖形，共有3題，每題限時20秒
        div.character
            img(src="./img/deegooq_4.svg")
    div.row.center.Q7container
        div#Q7exTimer.Qtimer.t1
            span.value 20
        div#q7QuestBox
            div.qBox
                img(src="")
            div.aBox
                img(src="")
   
    button#Q7Skip.fBtn.skip.arrow 跳過
    

        
         