div#start.page.bg1(style="display:none")
    div.row.center
        img.logo(src="./img/logo.svg")
    div.row
        div.chatBox 
            div.text Hi，我是 DeeGoo Q小精靈，來和我一起檢測大腦認知功能吧！
        div.character
            img(src="./img/deegooq_0.svg")
    div.row
        button.BPBtn.pageBtn.main(data-id="personal")
            img.hand(src="./img/hand.svg")
            span 點擊個資同意書來開始
    div.row.test
        
        div#selectPage(style="display:none")
            button.pageBtn(data-id="personal") 下一頁
            button.pageBtn(data-id="Q1-1") q1
            button.pageBtn(data-id="Q2-1") q2
            button.pageBtn(data-id="Q3-1") q3
            button.pageBtn(data-id="Q4-1") q4
            button.pageBtn(data-id="Q5ex-1") q5
            button.pageBtn(data-id="Q6-1") q6
            button.pageBtn(data-id="Q7-1") q7
    footer.f1
