div#start.page.bg1(style="display:none")
    div.row.center
        img.logo(src="./img/logo.svg")
    div.row
        div.chatBox 
            div.text Hi，我是 DeeGoo Q小精靈，來和我一起檢測大腦認知功能吧！
        div.character
            img(src="./img/deegooq_0.svg")
    div.row
        button.BPBtn.pageBtn.main(data-id="personal")
            img.hand(src="./img/hand.svg")
            span 點擊個資同意書來開始
    footer.f1
