doctype html
html
    include ./comps/header.pug
    body 
        include ./comps/landscape.pug
        div.app.portrait(style="display:none")
            //首頁
            include ./comps/start.pug
            //個人資料同意書
            include ./comps/personal.pug
            //基本資料填寫
            include ./comps/basic.pug
            //選單
            include ./comps/list.pug
            //Q1 第一題
            include ./comps/q1-1.pug
            include ./comps/q1-2.pug
            include ./comps/q1-3.pug
            include ./comps/q2-2.pug
            include ./comps/q2-1.pug
            include ./comps/q3-1.pug
            include ./comps/q3-2.pug
            include ./comps/q3-3.pug
            include ./comps/q3-4.pug
            include ./comps/q4-1.pug
            include ./comps/q4-2.pug
            //Q5 畫時鐘
            include ./comps/q5-1.pug
            include ./comps/q5-2.pug
            include ./comps/end.pug
        include ./comps/loading.pug